.main-container {
  min-height: max-content;
  background: url('../../assets/sections/sixth/banner-tlf-juega365.png') no-repeat;
  background-size: cover;
}
.icon-container {
  max-width: 90vw;
}

@media (min-width: 560px) {
  .icon-container {
    max-width: 80vw;
  }
}
@media (min-width: 680px) {
  .icon-container {
    max-width: 60vw;
  }
}

@media (min-width: 48rem) {
  .main-container {
    background: url('../../assets/sections/sixth/banner-web-juega365.png') no-repeat;
    background-size: cover;
  }
}

@media (min-width: 96rem) {
  .main-container {
    background: url('../../assets/sections/sixth/banner-3220-juega365.png') no-repeat;
    background-size: cover;
  }
}


/* BREAKPOINT CHEAT SHEET
  * - Breakpoint prefix	Minimum width	CSS
  * sm	40rem (640px)	@media (width >= 40rem) { ... }
  * md	48rem (768px)	@media (width >= 48rem) { ... }
  * lg	64rem (1024px)	@media (width >= 64rem) { ... }
  * xl	80rem (1280px)	@media (width >= 80rem) { ... }
  * 2xl	96rem (1536px)	@media (width >= 96rem) { ... }
*/
