

/* .main-container {
  --margin : 0px;
  margin: var(--margin);
  min-height: max-content;
  background: ul('../../assets/bg.jpg') no-repeat 50% 47%;
}

.main-container__section {
  background-size: initial;
  min-width: calc(100vw - (var(--margin) * 2 + 20px ));
}
 */
/* Media querys */
/* @media (min-width: 640px) {
  .main-container {
    --margin : 0px;
    min-height: calc(100vh - (var(--margin) * 2) ) !important;
  }

  .main-container__section {
    background-size: contain;
  }
}

@media (min-width: 1024px) {
  .main-container {
    background-position: 50% 37.5%;
  }
} */

/* Solo para pantallas grandes (2xl en tu caso) */
@media (min-width: 1536px) { /* El breakpoint 2xl de Tailwind CSS */
  .first-bigerscreen-image {
    background-image: url('../../assets/sections/first/tribet3220yellow.jpg');
  }
}

@media (min-width: 768px) {
  .first-desktop-image {
    background-image: url('../../assets/sections/first/tribet1834820.jpg');
  }
}

.first-mobile-image {
  background-image: url('../../assets/sections/first/tribet1834820.jpg');
}


/* BREAKPOINT CHEAT SHEET
  * - Breakpoint prefix	Minimum width	CSS
  * sm	40rem (640px)	@media (width >= 40rem) { ... }
  * md	48rem (768px)	@media (width >= 48rem) { ... }
  * lg	64rem (1024px)	@media (width >= 64rem) { ... }
  * xl	80rem (1280px)	@media (width >= 80rem) { ... }
  * 2xl	96rem (1536px)	@media (width >= 96rem) { ... }
*/
